@model Monitor.Models.data
@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/addCss.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ichart.1.2.min.js")" type="text/javascript"></script>

<div class="page-header"><h2>历史数据查询</h2></div>
<div class="row">
    <div class="col-lg-8">
        <div class="col-lg-2">
            奶牛编号
            @Html.DropDownList("cowId")
        </div>
        <div class="col-lg-2">
            天数
            @Html.DropDownList("during")
        </div>
        <div class="col-lg-2">
            阈值
            @Html.DropDownList("threshold")
        </div>
        <div class="col-lg-2">
            粒度
            @Html.DropDownList("grading")
        </div>
    </div>
</div>
<div class="row" style="padding:20px;">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                奶牛原始数据曲线
            </div>
            <div class="panel-body" id="canvasDiv">
                @*<text>@ViewBag.data</text>*@
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding:20px;">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                奶牛发情指数数据曲线
            </div>
            <div class="panel-body" id="hanxingDiv">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //var flow = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21];
        var str = "@ViewBag.data";
        ch = new Array;
        ch = str.split(",");
        var data = [
                    {
                        name: '',
                        value: ch,
                        color: '#0d8ecf',
                        line_width: 2
                    }
        ];
        //var w = document.all.abc.offsetWidth;
        //var h = a = document.all.abc.offsetHeight;
        //alert(w, h);
        var dateStr = "@ViewBag.date";
        labels = new Array;
        labels = dateStr.split(",");

        var hanxing = "@ViewBag.hanxingData";
        ch2 = new Array;
        ch2 = hanxing.split(",");
        var data2 = [
                    {
                        name: '',
                        value: ch2,
                        color: '#0d8ecf',
                        line_width: 2
                    }
        ];

        var line = new iChart.LineBasic2D({
            render: 'canvasDiv',
            data: data,
            
            align: 'center',
            title: '奶牛原始数据曲线',
            width: 900,
            height: 450,
            
            sub_option: {
                smooth: true,//平滑曲线
                point_size: 1,
                label: false
            },
            tip: {
                enable: true,
                shadow: true
            },
            legend: {
                enable: false
            },
            crosshair: {
                enable: true,
                line_color: '#62bce9'
            },
            coordinate: {
                width: '90%',
                valid_width: '100%',
                height: 260,
                axis: {
                    color: '#9f9f9f',
                    width: [0, 0, 2, 2]
                },
                grids: {
                    vertical: {
                        way: 'share_alike',
                        value: 12
                    }
                },
                scale: [{
                    position: 'left',
                    start_scale: 0,
                    //scale_space: 10,
                    scale_size: 2,
                    scale_color: '#9f9f9f'
                }, {
                    position: 'bottom',
                    label: {
                        rotate: -45,
                        textBaseline: 'middle',
                        textAlign: 'right'
                        
                    },
                    labels: labels
                }]
            }
        });
        //开始画图
        line.draw();
        var line2 = new iChart.LineBasic2D({
            render: 'hanxingDiv',
            data: data2,

            align: 'center',
            title: '奶牛发情指数曲线',
            width: 900,
            height: 450,

            sub_option: {
                smooth: true,//平滑曲线
                point_size: 1,
                label: false
            },
            tip: {
                enable: true,
                shadow: true
            },
            legend: {
                enable: false
            },
            crosshair: {
                enable: true,
                line_color: '#62bce9'
            },
            coordinate: {
                width: '90%',
                valid_width: '100%',
                height: 260,
                axis: {
                    color: '#9f9f9f',
                    width: [0, 0, 2, 2]
                },
                grids: {
                    vertical: {
                        way: 'share_alike',
                        value: 12
                    }
                },
                scale: [{
                    position: 'left',
                    start_scale: 0,
                    //scale_space: 10,
                    scale_size: 2,
                    scale_color: '#9f9f9f'
                }, {
                    position: 'bottom',
                    label: {
                        rotate: -45,
                        textBaseline: 'middle',
                        textAlign: 'right'

                    },
                    labels: labels
                }]
            }
        });
        //开始画图
        line2.draw();
    });

    $("select").change(function () {
        $.post("/Data/show", { cowId: $("#cowId").val(), during: $("#during").val(), threshold: $("#threshold").val(), grading: $("#grading").val() }, function (str) {
            ch = new Array;
            ch = str.data.split(",");
            var data = [
                        {
                            name: '',
                            value: ch,
                            color: '#0d8ecf',
                            line_width: 2
                        }
            ];
            labels = new Array;
            labels = str.date.split(",");
            ch2 = new Array;
            ch2 = str.hanxing.split(",");
            //var chart = iChart.get('myChart');//根据ID获取图表对象
            //chart.load(data);//载入新数据
            var data2 = [
                    {
                        name: '',
                        value: ch2,
                        color: '#0d8ecf',
                        line_width: 2
                    }
            ];
            var line = new iChart.LineBasic2D({
                render: 'canvasDiv',
                data: data,

                align: 'center',
                title: '奶牛原始数据曲线',
                width: 900,
                height: 450,

                sub_option: {
                    smooth: true,//平滑曲线
                    point_size: 1,
                    label: false
                },
                tip: {
                    enable: true,
                    shadow: true
                },
                legend: {
                    enable: false
                },
                crosshair: {
                    enable: true,
                    line_color: '#62bce9'
                },
                coordinate: {
                    width: '90%',
                    valid_width: '100%',
                    height: 260,
                    axis: {
                        color: '#9f9f9f',
                        width: [0, 0, 2, 2]
                    },
                    grids: {
                        vertical: {
                            way: 'share_alike',
                            value: 12
                        }
                    },
                    scale: [{
                        position: 'left',
                        start_scale: 0,
                        //scale_space: 10,
                        scale_size: 2,
                        scale_color: '#9f9f9f'
                    }, {
                        position: 'bottom',
                        label: {
                            rotate: -45,
                            textBaseline: 'middle',
                            textAlign: 'right'

                        },
                        labels: labels
                    }]
                }
            });
            //开始画图
            line.draw();
            var line2 = new iChart.LineBasic2D({
                render: 'hanxingDiv',
                data: data2,

                align: 'center',
                title: '奶牛发情指数曲线',
                width: 900,
                height: 450,

                sub_option: {
                    smooth: true,//平滑曲线
                    point_size: 1,
                    label: false
                },
                tip: {
                    enable: true,
                    shadow: true
                },
                legend: {
                    enable: false
                },
                crosshair: {
                    enable: true,
                    line_color: '#62bce9'
                },
                coordinate: {
                    width: '90%',
                    valid_width: '100%',
                    height: 260,
                    axis: {
                        color: '#9f9f9f',
                        width: [0, 0, 2, 2]
                    },
                    grids: {
                        vertical: {
                            way: 'share_alike',
                            value: 12
                        }
                    },
                    scale: [{
                        position: 'left',
                        start_scale: 0,
                        //scale_space: 10,
                        scale_size: 2,
                        scale_color: '#9f9f9f'
                    }, {
                        position: 'bottom',
                        label: {
                            rotate: -45,
                            textBaseline: 'middle',
                            textAlign: 'right'

                        },
                        labels: labels
                    }]
                }
            });
            //开始画图
            line2.draw();
        });
    })

</script>