@model Monitor.Models.cow

@{
    ViewBag.Title = "删除";
}


<h3>确定要删除这条数据吗？</h3>
<fieldset>
    <legend>奶牛数据</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.cowId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cowId)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.age)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.remarks)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="删除" /> 
    </p>
}
